
# Caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
**/__pycache__/

# Environment
.env
.venv


# data files

/data/
# Coverage reports
.coverage

# Outputs
outputs/
/models/lightning_logs/

# WandB files
wandb/



